* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #EF1585;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.barra-de-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-left: 10px;
}

.enlaces-nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

.enlaces-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.enlaces-nav a:hover {
    color: #ffd700;
}

.encabezado {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(to right, #fc466b, #3f5efb);
    color: white;
    padding: 20px;
}

.contenido-encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    margin-top: 60px;
    flex-wrap: wrap;
    text-align: center;
}

.contenido-texto, .maquetas img {
    max-width: 50%;
    margin-top: 20px;
}

.contenido-encabezado h1, .contenido-encabezado p {
    margin: 20px 0;
}

.contenido-encabezado .btn {
    background-color: #fff;
    color: #ec008c;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
}

.seccion-funcionalidades, .seccion-avanzada {
    padding: 30px 5vw;
    text-align: center;
}

.cajas-funcionalidades {
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
}

.caja {
    max-width: 30%;
    margin: 10px;
}

.caja img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.contenedor-funcionalidades {
    display: flex;
    justify-content: center;
    gap: 5vw;
    position: relative;
}

.caja-funcion-izquierda, .caja-funcion-derecha {
    padding: 30px;
    margin: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
    transition: border 0.3s, background-color 0.3s;
    position: relative;
}

.caja-funcion-izquierda:hover, .caja-funcion-derecha:hover {
    border: 1px solid #6a0dad;
    background-color: rgba(106, 13, 173, 0.1);
    cursor: pointer;
}

.caja-funcion-izquierda img, .caja-funcion-derecha img {
    position: absolute;
    top: 20px;
    width: 50px;
    height: 50px;
}

.caja-funcion-izquierda img {
    right: 20px;
}

.caja-funcion-derecha img {
    left: 0px;
}

.imagen-telefono img {
    max-width: 100%;
    height: auto;
}
